<div class="w3-card-4">
	<header class="w3-container ">
		<h5>
			<a class="w3-btn w3-ripple w3-right w3-border w3-black header-button"
			        href="/{{$ctrl.backState}}">
				<i class="fa fa-chevron-circle-left"></i> {{'BACK' | translate}}
			</a>
			<a class="w3-btn w3-ripple w3-right w3-border header-button"
			         href="/projects/{{$ctrl.projectId}}/details">
				<i class="fa fa-line-chart"></i> {{'DETAILS' | translate}}
			</a>

			<i class="fa fa-{{$ctrl.icon}} fa-fw"></i>
			{{$ctrl.pageTitle | translate}} {{$ctrl.project.name}} ({{$ctrl.project.minPoints}}
			-{{$ctrl.project.maxPoints}} {{'PROJECT.PREVIEW.POINTS' | translate }})
		</h5>
	</header>
	<div class="w3-container">

		<div ng-if="!$ctrl.isEnabled"	class="w3-panel w3-orange w3-card-8">
			<h3>{{'PROJECT.PREVIEW.PREVIEW_ONLY' | translate}}</h3>
			<p ng-if="$ctrl.isMyProject">{{'PROJECT.PREVIEW.IS_MY_PROJECT' | translate}}</p>
			<p ng-if="!$ctrl.canResponse">{{'PROJECT.PREVIEW.CANT_RESPONSE' | translate}}</p>
			<p ng-if="!$ctrl.isStatusActive">{{'PROJECT.PREVIEW.ISNT_ACTIVE' | translate}}</p>
		</div>

		<h2>1. {{'PROJECT.PREVIEW.DOWNLOAD' | translate}}
			<a target="_self" ng-href={{$ctrl.project.application}}>{{$ctrl.project.name}}</a>.
		</h2>

		<h2>2. {{'PROJECT.PREVIEW.DOWNLOAD' | translate}} <a href="https://lookback.io/download">LookBack</a>.</h2>

		<h2>3. {{'PROJECT.PREVIEW.FOLLOW_INSTRUCTIONS' | translate}}</h2>
		<textarea class="w3-input" disabled="true" rows="10"
		          ng-model="$ctrl.project.description">
		</textarea>
		<h2>4. {{'PROJECT.PREVIEW.COMPLETE' | translate}} <a ng-href="{{$ctrl.project.surveyURL}}">{{'PROJECT.PREVIEW.SURVEY' | translate}}</a> {{'PROJECT.PREVIEW.SIGN_IT' | translate}}</h2>
		<h2>5. {{'PROJECT.PREVIEW.UPLOAD_VIDEOS' | translate}}</h2>

		<form name="form" class="w3-container w3-padding-0">
			<fieldset>
				<legend>
					<button class="w3-btn w3-ripple w3-border "
					        ng-click="$ctrl.addNew()"
					        ng-disabled="!$ctrl.isEnabled">
						<i class="fa fa-plus"></i> {{'PROJECT.PREVIEW.ADD_STEP' | translate}}
					</button>
				</legend>
				<input
						ng-disabled="!$ctrl.isEnabled"
						class="w3-input" type="text"
						ng-model="$ctrl.temp.tag"
						placeholder="{{'PROJECT.PREVIEW.VIDEO_TAG' | translate}}"
						required>
				<input class="w3-input" type="text"
				       ng-model="$ctrl.temp.videoURL"
				       placeholder="{{'PROJECT.PREVIEW.VIDEO_URL' | translate}}" disabled>

				<div class="w3-padding-0">

					<ul class="w3-navbar w3-blue w3-border-bottom intronav">
						<li><a class="testbtn" ng-class="{'w3-light-blue': $ctrl.importTab}" href="#"
						       ng-click="$ctrl.chooseTab('importTab')">{{'PROJECT.PREVIEW.IMPORT_FROM_SERVER' | translate}}</a></li>
						<li><a class="testbtn" ng-class="{'w3-light-blue': $ctrl.uploadTab}" href="#"
						       ng-click="$ctrl.chooseTab('uploadTab')">{{'PROJECT.PREVIEW.UPLOAD_FROM_DEVICE' | translate}}</a></li>
					</ul>

					<div id="lookback" class="w3-light-grey" ng-show="$ctrl.importTab">

						<div class="w3-row w3-input" style="padding-bottom:0;padding-right:0; width: inherit">
							<button class="w3-button w3-col s3"
							        style="margin-right:8px;"
							        ng-disabled="!$ctrl.isEnabled"
							        ng-click="$ctrl.importFromURL()" style="float: left">{{'UPLOAD' | translate}}
							</button>
							<input
									ng-disabled="!$ctrl.isEnabled"
									class="w3-padding w3-col s6" type="text"
									style="margin-top:-8px;"
									ng-model="$ctrl.temp.videoImportURL"
									placeholder="{{'PROJECT.PREVIEW.IMPORT_VIDEO_URL' | translate}}">
						</div>

						<div class="w3-accordion w3-grey">
							<button ng-click="$ctrl.tipToggleSlide()" class="w3-btn-block w3-tip"
							        style="padding-left: 0px; padding-right: 0px">
								<i class="fa fa-angle-double-down" aria-hidden="true"></i>{{'PROJECT.PREVIEW.SHOW_TIP' | translate}}<i class="fa fa-angle-double-down"
								                                                                       aria-hidden="true"></i>
							</button>
							<div id="tip" class="w3-accordion-content w3-center" ng-class="{'w3-show': $ctrl.tip}">
								<img style="max-width: 100%; max-height: {{$ctrl.screenHeight}}px;"
								     src="/images/lookbackInstruction.png">
							</div>
						</div>
					</div>

					<div id="device" class="w3-container w3-padding-0 w3-light-grey" ng-show="$ctrl.uploadTab">
						<single-file-upload file="$ctrl.temp.videoURL" type="'video/*'" store="$ctrl.VideosStore"
						                    disabled="!$ctrl.isEnabled"></single-file-upload>
					</div>
				</div>

				<div ng-if="$ctrl.isStepRating">
					{{$ctrl.project.ratingTitle}}
					<div
							ng-if="!$ctrl.isEnabled">
						<input-stars max="5" ng-model="$ctrl.temp.stars"
						             readonly></input-stars>
					</div>
					<div
							ng-if="$ctrl.isEnabled">
						<input-stars max="5" ng-model="$ctrl.temp.stars"></input-stars>
					</div>

				</div>
				<div ng-if="$ctrl.isStepDescription">
					<textarea class="w3-input" rows="10"
					          ng-model="$ctrl.temp.description"
					          placeholder="{{'PROJECT.PREVIEW.GIVE_ME_OPINION' | translate}}"
					          ng-disabled="!$ctrl.isEnabled">
					</textarea>
				</div>
			</fieldset>
		</form>

		<div class="w3-container" ng-if="$ctrl.isEnabled">
			<div ng-repeat="step in $ctrl.response.steps" class="w3-card-4">
				<header class="w3-container ">
					<h3>{{step.tag}}
						<button class="w3-right w3-red" ng-click="$ctrl.remove(step)">x</button>
					</h3>
				</header>
				<div ng-if="$ctrl.isStepRating">
					{{$ctrl.project.ratingTitle}}
					<input-stars max="5" ng-model="step.stars" readonly></input-stars>
				</div>
				<div ng-if="$ctrl.isStepDescription">
					<textarea ng-model="step.description" disabled="true"></textarea>
				</div>
				<video id="v" width="100%" height="{{$ctrl.screenHeight}}px"
				       controls crossOrigin="anonymous"
				>
					<source ng-src="{{step.videoURL}}">
				</video>
			</div>
		</div>

		<div>
			<button
					ng-disabled="!$ctrl.isEnabled || $ctrl.response.steps.length === 0"
					class="w3-btn w3-green w3-ripple w3-border "
					ng-click="$ctrl.confirm()">
				<i class="fa fa-{{$ctrl.icon}}"></i> {{'CONFIRM' | translate}}
			</button>
		</div>

	</div>
</div>
