<h5><i class="fa fa-{{projectAdd.icon}} fa-fw"></i>{{projectAdd.pageTitle}}</h5>

<form class="w3-container">
	Project Name
	<input class="w3-input w3-animate-input" type="text" style="width:30%" ng-model="projectAdd.project.projectName"
	       placeholder="Project Name">
	Description
	<input class="w3-input w3-animate-input" type="multiline" style="width:30%" ng-model="projectAdd.project.description"
	       placeholder="Instruction">
	Upload your application
	<input class="w3-input w3-animate-input" type="file" style="width:30%" ng-model="projectAdd.project.application"
	       placeholder="Application">
	Add URL to your survey
	<input class="w3-input w3-animate-input" type="url" style="width:30%" ng-model="projectAdd.project.surveyURL"
	       placeholder="Application">
	<button ng-click="projectAdd.submit()">Add project</button>
</form>

<button ui-sref="myProjects">Back</button>