<div class="w3-card-4">
	<header class="w3-container w3-{{userEdit.color}}">
		<h5>
			<!--<button class="w3-btn w3-ripple w3-right w3-border w3-black header-button" ui-sref="users">-->
			<!--<i class="fa fa-chevron-circle-left"></i> Back-->
			<!--</button>-->
			<h5><i class="fa fa-{{userEdit.icon}} "></i> {{userEdit.pageTitle}}</h5>
		</h5>
	</header>
	<div class="w3-container" style="padding: 0px">
		<form name="form"
		      class="w3-container w3-pale-{{userEdit.color}} w3-border-{{userEdit.color}} w3-leftbar w3-rightbar w3-bottombar">

			<p> User Name
				<input class="w3-input" type="text" ng-model="userEdit.user.profile.name" name="name" required
				       ng-class="{'w3-border-red w3-pale-red': !form.name.$valid }"
				       placeholder="User Name"></p>
			<p> User Forname
				<input class="w3-input" type="text" ng-model="userEdit.user.profile.forName" name="forName" required
				       ng-class="{'w3-border-red w3-pale-red': !form.forName.$valid }"
				       placeholder="User Forname"></p>
			<p> Avatar
			<div><img ng-src="{{userEdit.user.profile.avatar}}" style="width:100px"></div>
			<input class="w3-input" type="text" ng-model="userEdit.user.profile.avatar" name="avatar"
			       placeholder="Avatar URL"></p>
			<p> Email
				<input class="w3-input" type="email" name="email" required
				       ng-class="{'w3-border-red w3-pale-red': !form.email.$valid }"
				       ng-model="userEdit.user.profile.email"
				       placeholder="Email"></p>
			<button class="w3-btn w3-ripple w3-left w3-border w3-{{userEdit.color}}" ng-disabled="!form.$valid"
			        ng-click="userEdit.confirm()">
				<i class="fa fa-{{userEdit.icon}}"></i> Confirm
			</button>
			</p>
		</form>
	</div>

</div>
