<div class="w3-container w3-row">
	<div class="w3-col s4">
		<img src="images/avatar2.png" class="w3-circle w3-margin-right" style="width:46px">
	</div>
	<div class="w3-col s8">
		<span>Welcome, <strong>{{(userPanel.user ? 'User' : 'Guest')}}</strong></span><br/>
		<login-buttons></login-buttons><br/>
		<a href="#" class="w3-hover-none w3-hover-text-red w3-show-inline-block"><i class="fa fa-envelope"></i></a>
		<a href="#" class="w3-hover-none w3-hover-text-green w3-show-inline-block"><i class="fa fa-user"></i></a>
		<a href="#" class="w3-hover-none w3-hover-text-yellow w3-show-inline-block"><i class="fa fa-cog"></i></a>
		<a href="#" class="w3-hover-none w3-hover-text-blue w3-show-inline-block"><i class="fa fa-language"></i></a>
	</div>

</div>