<div class="w3-card-4">
	<header class="w3-container w3-{{myProjectsTab.color}}">
		<h5>
			<button class="w3-btn w3-ripple w3-right w3-border w3-green header-button" ui-sref="projectAdd">
				<i class="fa fa-plus "></i> Add new
			</button>
			<i class="fa fa-{{myProjectsTab.icon}} "></i> {{myProjectsTab.pageTitle}} ({{myProjectsTab.projects.length}})
		</h5>
	</header>
	<div class="w3-container w3-pale-{{myProjectsTab.color}} w3-border-{{myProjectsTab.color}} w3-leftbar w3-rightbar w3-bottombar"
	     style="padding: 0px">
		<dynamic-table data="myProjectsTab.projects" columns="myProjectsTab.columns"></dynamic-table>
	</div>
</div>

