<div class="w3-card-4">
	<header class="w3-container ">
		<h5>
			<button class="w3-btn w3-ripple w3-right w3-border w3-green header-button" ui-sref="projectAdd">
				<i class="fa fa-plus "></i>
				<span ng-show="$ctrl.bigScreen"> {{'ADD_NEW' | translate }}</span>
			</button>
			<i class="fa fa-{{$ctrl.icon}} "></i> {{$ctrl.pageTitle | translate}} ({{$ctrl.projects.length}})
		</h5>
	</header>
	<div class="w3-container">
		<dynamic-table data="$ctrl.projects" columns="$ctrl.columns"></dynamic-table>
	</div>
</div>

