<div class="w3-card-4">
	<header class="w3-container ">
		<h5>
			<i class="fa fa-{{$ctrl.icon}} "></i> {{$ctrl.pageTitle | translate}}
		</h5>
	</header>
	<div class="w3-container"
	     >
		<h3>{{'ABOUT.PROLOG' | translate}}</h3>
		<ul>
			<li>{{'ABOUT.1' | translate}}</li>
			<li>{{'ABOUT.2' | translate}}</li>
			<li>{{'ABOUT.3' | translate}}</li>
			<ul>
				<li>{{'ABOUT.3a' | translate}}</li>
				<li>{{'ABOUT.3b' | translate}}</li>
			</ul>
			<li>{{'ABOUT.4' | translate}}</li>
			<ul>
				<li>{{'ABOUT.4a' | translate}}</li>
				<li>{{'ABOUT.4b' | translate}}</li>
				<li>{{'ABOUT.4c' | translate}}</li>
				<li>{{'ABOUT.4d' | translate}}</li>
				<li>{{'ABOUT.4e' | translate}}</li>
				<li>{{'ABOUT.4f' | translate}}</li>
			</ul>
			<li>{{'ABOUT.5' | translate}}</li>
			<li>{{'ABOUT.6' | translate}}</li>
			<li>{{'ABOUT.7' | translate}}</li>
		</ul>
	</div>
</div>

