<div class="w3-card-4">
	<header class="w3-container w3-{{about.color}}">
		<h5>
			<i class="fa fa-{{about.icon}} "></i> {{about.pageTitle}}
		</h5>
	</header>
	<div class="w3-container w3-pale-{{about.color}} w3-border-{{about.color}} w3-leftbar w3-rightbar w3-bottombar"
	     style="padding: 0px">

		<ul>
			<li>Założenie konta na stronie webowej Respondent Broker.</li>
			<li>Uzupełnienie swojego profilu o brakujące dane.</li>
			<li>W zależności od posiadanej ilości punktów:</li>
			<ul>
				<li>a) W przypadku braku odpowiedniej ilości punktów, potrzebnych by znaleźć chętnych do przeprowadzenia badania
					należy je zdobyć. Odbywa się to poprzez bycie uczestnikiem badania użyteczności czyjejś aplikacji i przesłaniu
					wygenerowanych danych i subiektywnych ocen, wtedy ta osoba przyznaje nam punkty za dobrze wykonane zadanie.
				</li>
				<li>b) Jeżeli konto użytkownika zawiera odpowiednią w jego ocenie ilość punktów, aby znaleźć chętnych do
					przeprowadzenia badania można stworzyć nowy projekt.
				</li>
			</ul>
			<li>Stworzenie nowego projektu i uzupełnienie go o:</li>
			<ul>
				<li>Tytuł.</li>
				<li>Warunki, instrukcje i spis zadań do wykonania.</li>
				<li>Plik instalacyjny aplikacji.</li>
				<li>Link do przygotowanej ankiety</li>
				<li>Zakres punktów możliwy do przyznania uczestnikom, gdzie maksymalna kwota nie może być większa niż liczba
					punktów
					posiadanych przez użytkownika.
				</li>
				<li>Ustawienia konfiguracyjne dodatkowych parametrów mogących się przydać w badaniu jak włączenie komentarza
					czy
					oceny dla zadania.
				</li>
			</ul>
			<li>Po odpowiedzeniu przez zadowalającą liczbę respondentów – przejrzenie odpowiedzi wygenerowanie czasów
				interakcji.
			</li>
			<li>Opracowanie wyników w oparciu o wygenerowane dane.</li>
			<li>Przyznanie punktów użytkownikom za poświęcony czas.</li>
		</ul>
	</div>
</div>

