<div class="w3-card-4">
	<header class="w3-container w3-{{responseView.color}}">
		<h5>
			<i class="fa fa-{{responseView.icon}} fa-fw"></i>
			{{responseView.pageTitle}}
		</h5>
	</header>

	<div
		{{responseView.response}}
			class="w3-container w3-pale-{{responseView.color}} w3-border-{{responseView.color}} w3-leftbar w3-rightbar w3-bottombar">
		<div class="w3-container">
			<div ng-repeat="step in responseView.response.steps" class="w3-card-4">
				<header class="w3-container w3-{{responseView.color}}">
					<h3>{{step.movieTag}}
						<!--<button ng-click="responseView.remove(step)">x</button>-->
					</h3>
				</header>
				<div ng-if="step.stars">
					<input-stars max="5" ng-model="step.stars" readonly></input-stars>
				</div>
				<div ng-if="step.description">
					<textarea ng-model="step.description" disabled="true"></textarea>
				</div>
				<video
						id="video0"
						width="270" height="480"
						controls crossOrigin="anonymous">
					<source ng-src="{{step.movieURL}}" type="video/mp4">
				</video>
				<canvas ng-init="responseView.processor.doLoad()"
				        width="540" height="960"
				        id="canvas0"
				></canvas><!--id="{{'canvas'+$index}}" id="{{'video'+$index}}" -->
			</div>
		</div>

	</div>
</div>
