<div class="w3-card-4">
	<header class="w3-container w3-{{projectDetails.color}}">
		<h5>
			<button ng-if="projectDetails.isMyProject" class="w3-btn w3-ripple w3-right w3-border w3-black header-button"
			        ui-sref="myProjects">
				<i class="fa fa-chevron-circle-left"></i> Back
			</button>
			<button ng-if="!projectDetails.isMyProject" class="w3-btn w3-ripple w3-right w3-border w3-black header-button"
			        ui-sref="projects">
				<i class="fa fa-chevron-circle-left"></i> Back
			</button>
			<i class="fa fa-{{projectDetails.icon}} fa-fw"></i>
			{{projectDetails.pageTitle}} {{projectDetails.project.name}} ({{projectDetails.project.minPoints}}
			-{{projectDetails.project.maxPoints}} points)
		</h5>
	</header>

	<div
			class="w3-container w3-pale-{{projectDetails.color}} w3-border-{{projectDetails.color}} w3-leftbar w3-rightbar w3-bottombar">
		<div ng-if="projectDetails.isMyProject"
		     class="w3-panel w3-orange w3-card-8">
			<h3>Preview only</h3>
			<p>As owner you cannot reply for your project.</p>
		</div>
		<div ng-if="projectDetails.isResponsed.length > 0"
		     class="w3-panel w3-orange w3-card-8">
			<h3>Preview only</h3>
			<p>Already answered on this project.</p>
		</div>
		<h2>1. Please download and install
			<a href={{projectDetails.project.application}}>{{projectDetails.project.name}}</a> application.
		</h2>

		<h2>2. Please download and install <a href="https://lookback.io/download">LookBack</a> application.</h2>

		<h2>3. Please follow instructions and make videos:</h2>
		<textarea class="w3-input w3-animate-input" disabled="true" style="width:80%" rows="10"
		          ng-model="projectDetails.project.description">
		</textarea>
		<h2>4. Please complete the <a ng-href="{{projectDetails.project.surveyURL}}">survey</a> and sign it.</h2>
		<h2>5. Please upload your videos and tag them.</h2>

		<fieldset>
			<form class="w3-container">
				<input ng-disabled="projectDetails.isMyProject || projectDetails.isResponsed.length > 0"
				       class="w3-input w3-animate-input" type="text" style="width:30%"
				       ng-model="projectDetails.temp.movieTag"
				       placeholder="Movie tag">
				<input ng-disabled="projectDetails.isMyProject || projectDetails.isResponsed.length > 0"
				       class="w3-input w3-animate-input" type="text" style="width:30%"
				       ng-model="projectDetails.temp.movieURL"
				       placeholder="Movie URL">
				<!--<input ng-disabled="projectDetails.isMyProject" class="w3-input w3-animate-input" type="file" style="width:30%"-->
				<!--placeholder="Movie">-->
				<!--<star-rating stars="5" actual=""></star-rating>-->
				<div ng-if="projectDetails.isStepRating">
					Evaluation of usability.
					<div ng-if="projectDetails.isMyProject || projectDetails.isResponsed.length > 0">
						<input-stars max="5" ng-model="projectDetails.temp.stars"
						             readonly></input-stars>
					</div>
					<div ng-if="!projectDetails.isMyProject && projectDetails.isResponsed.length == 0">
						<input-stars max="5" ng-model="projectDetails.temp.stars"></input-stars>
					</div>
				</div>
				<div ng-if="projectDetails.isStepDescription">
					<!--<textarea ng-model="step.description"></textarea>-->
					<textarea class="w3-input w3-animate-input" style="width:60%" rows="10"
					          ng-model="projectDetails.temp.description"
					          placeholder="Tell me your opinion about this step."
					          ng-disabled="projectDetails.isMyProject || projectDetails.isResponsed.length > 0"></textarea>
				</div>

				<button ng-click="projectDetails.addNew()"
				        ng-disabled="projectDetails.isMyProject || projectDetails.isResponsed.length > 0">Add new
				</button>
			</form>
		</fieldset>


		<div class="w3-container" ng-if="!projectDetails.isMyProject || projectDetails.isResponsed.length === 0">
			<div ng-repeat="step in projectDetails.response.steps" class="w3-card-4">
				<header class="w3-container w3-{{projectDetails.color}}">
					<h3>{{step.movieTag}}
						<button ng-click="projectDetails.remove(step)">x</button>
					</h3>
				</header>
				<div ng-if="projectDetails.isStepRating">
					<input-stars max="5" ng-model="step.stars" readonly></input-stars>
				</div>
				<div ng-if="projectDetails.isStepDescription">
					<textarea ng-model="step.description" disabled="true"></textarea>
				</div>
				<video id="v" width="270" height="480"
				       controls crossOrigin="anonymous">
					<source ng-src="{{step.movieURL}}" type="video/mp4">
				</video>
			</div>
		</div>

		<div>
			<button ng-disabled="projectDetails.isMyProject || projectDetails.isResponsed.length > 0"
			        class="w3-btn w3-ripple w3-left w3-border w3-{{projectDetails.color}}"
			        ng-click="projectDetails.confirm()">
				<i class="fa fa-{{projectDetails.icon}}"></i> Confirm
			</button>
		</div>

		<div ng-if="projectDetails.isMyProject">
			<dynamic-table data="projectDetails.responses" columns="projectDetails.columns"></dynamic-table>
		</div>

	</div>
</div>
