<div class="w3-container" style="padding: 0px">
	<table ng-table="normalTable.dataSet" show-filter="true"
	       class="w3-table w3-table-all w3-hoverable">
		<tr ng-repeat="row in $data">
			<td title="'Project Name'" filter="{ name: 'text'}" sortable="'name'">
				{{row.name}}</td>
			<td title="'Responses'" filter="{ responses: 'number'}" sortable="'responses'">
				{{row.responses}}</td>
			<td title="'Created'" filter="{ created: 'text'}" sortable="'created'">
				{{row.created}}</td>
			<td title="'Updated'" filter="{ updated: 'text'}" sortable="'updated'">
				{{row.updated}}</td>
			<td title="'Actions'">
				<actions section="'projects'" id="row._id"></actions>
			</td>
		</tr>
	</table>
</div>
